*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

body.off {
    background-color: black;
}

.button{
    background-color: white;
    padding: 10px;
}
